body {
    background-color:  rgb(167, 230, 183);
}



.nav {
  background-color: rgb(127, 190, 143);
  height: 2.6vh;
  text-align:center;
  border-radius: 2rem;
  margin-top: 2rem;
  
}


.nav .link {
    color: black;
    text-decoration: none;
    padding: 0.3rem;
}

.nav .link-active {
    font-weight: bolder;
}

h1 {

}

input, button {
    display: block;
    margin: auto;
    padding:1rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
}

button {
    background-color: rgb(127, 190, 143);
    cursor: pointer;
}

*{
    text-align: center;
}

#output {
    margin-top: 2rem;
    font-size: 5vh;
}